* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    user-select: none;
}

body {
    background: rgb(14, 14, 14);
}

footer {
    text-align: center;
    padding-top: 30px;
    font-size: 0.85em;
}
