header {
    width: 100%;
    padding: 26Px;
    color: white;
    text-align: center;
    background: rgb(85, 42, 155);
}

nav ul {
    list-style: none;
    background:  rgb(22, 21, 21);
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 20px;   
    transition: all ease-in-out 200ms;
}

ul li a {
    color: white;
    text-decoration: none; 
}

ul li a:hover{
    color: white;
}

nav ul li:hover {
    background: rgb(112, 112, 112);
}

.hide {
    font-size: 22px;
    padding: 16px;
    background:  rgb(22, 21, 21);
    color: white;
    cursor: pointer;
    display: none;
}

#Menu{
    display: inline-block;
    margin-left: 4px;
    
}


@media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 16px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
}

@media (max-width: 720px) {
    
    #Menu{
        display: inline-block;
        margin-left: 4px;
        font-size: 15px;        
    }    

}

@media (max-width: 720px) {
    
    #Menu{
        font-size: 13.5px;        
    }    

}