header {
    width: 100%;
    padding: 26Px;
    color: white;
    text-align: center;
    background: rgb(85, 42, 155);
}

.vip_Iron:hover {
    background-color: rgb(255, 145, 0);
}
.vip_Gold:hover {
    background-color: rgb(203, 206, 59);
}
.vip_Diamond:hover {
    background-color: aquamarine;
}
.vip_Netherite:hover {
    background-color: blueviolet;
}
.vip_Enderium:hover {
    background-color: darkcyan;
}